<div class="blank-layout-container justify-content-center">
  <div class="auth-wrapper">
    <div class="position-relative shaper-wrapper">
      <div class="w-100 position-relative rounded bg-white auth-card">
        <div class="auth-body">
          
          <a [routerLink]="['/dashboards/dashboard1']" class="m-t-20 d-flex">
            <img src="./assets/images/logos/dark-logo.svg" class="align-middle m-2" alt="logo" />
          </a>
          
          <div class="row">
            <div class="col-lg-6">
              <div class="align-items-center justify-content-center d-none d-lg-flex">
                <img src="/assets/images/backgrounds/login3-bg.png" alt="login" style="max-width: 500px" />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="d-flex align-items-start align-items-lg-center justify-content-center">
                <div class="row justify-content-center w-100">
                  <div class="col-lg-11">
                    <h4 class="f-w-700 f-s-30 lh-base m-0">
                      Welcome to Spike Admin
                    </h4>
                    <span class="f-s-14 d-block mat-body-1 m-t-8">Your Admin Dashboard</span>

                    <div class="row m-t-24">
                      <div class="col-12 col-sm-6">
                        <button mat-stroked-button class="w-100 m-b-4">
                          <div class="d-flex align-items-center">
                            <img src="/assets/images/svgs/google-icon.svg" alt="google" width="16" class="m-r-8" />
                            Sign up with Google
                          </div>
                        </button>
                      </div>
                      <div class="col-12 col-sm-6">
                        <button mat-stroked-button class="w-100 d-flex align-items-center m-b-4">
                          <div class="d-flex align-items-center">
                            <img src="/assets/images/svgs/facebook-icon.svg" alt="facebook" width="40" class="m-r-4" />
                            Sign up with FB
                          </div>
                        </button>
                      </div>
                    </div>

                    <div class="or-border m-t-30">or sign up with</div>

                    <form class="m-t-30" [formGroup]="form" (ngSubmit)="submit()">
                      <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Name</mat-label>
                      <mat-form-field appearance="outline" class="w-100" color="primary">
                        <input matInput formControlName="uname" />
                        @if(f['uname'].touched && f['uname'].invalid) {
                        <mat-hint class="m-b-16 error-msg">
                          @if( f['uname'].errors &&
                          f['uname'].errors['required']) {
                          <div class="text-error">Name is required.</div>
                          } @if(f['uname'].errors &&
                          f['uname'].errors['minlength']) {
                          <div class="text-error">
                            Name should be 6 character.
                          </div>
                          }
                        </mat-hint>
                        }
                      </mat-form-field>
                      <!-- email -->
                      <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Email Address</mat-label>
                      <mat-form-field appearance="outline" class="w-100" color="primary">
                        <input matInput type="email" formControlName="email" />
                        @if(f['email'].touched && f['email'].invalid) {
                        <mat-hint class="m-b-16 error-msg">
                          @if(f['email'].errors &&
                          f['email'].errors['required']) {
                          <div class="text-error">Email is required.</div>
                          }
                        </mat-hint>
                        }
                      </mat-form-field>
                      <!-- password -->
                      <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Password</mat-label>
                      <mat-form-field appearance="outline" class="w-100" color="primary">
                        <input matInput type="password" formControlName="password" />
                        @if(f['password'].touched && f['password'].invalid) {
                        <mat-hint class="m-b-16 error-msg">
                          @if(f['password'].errors &&
                          f['password'].errors['required']) {
                          <div class="text-error">Password is required.</div>
                          }
                        </mat-hint>
                        }
                      </mat-form-field>

                      <button mat-flat-button color="primary" class="w-100" [disabled]="!form.valid">
                        Sign Up
                      </button>
                      <!-- input -->
                    </form>
                    <span class="d-block f-w-500 d-block m-t-24">Already have an Account?

                      <a [routerLink]="['/authentication/login']"
                        class="text-decoration-none text-primary f-w-500 f-s-14">
                        Sign In</a>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>