html .blue_theme {
  --mat-sys-primary: rgb(0, 133, 219);
  --mat-sys-primary-fixed-dim: rgb(0, 133, 219, 0.15);
  --mat-sys-secondary: rgb(112, 122, 130);
  --mat-sys-secondary-fixed-dim: rgb(112, 122, 130, 0.15);
} 