<mat-card class="cardWithShadow">
    <mat-card-content class="p-24">
        <div class="d-flex w-100">
            <mat-card-title>Profit & Expenses</mat-card-title>
            <div class="m-l-auto">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <i-tabler name="dots-vertical"></i-tabler>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                    <button mat-menu-item>
                        <span>Action</span>
                    </button>
                    <button mat-menu-item>
                        <span>Another Action</span>
                    </button>
                    <button mat-menu-item>
                        <span>Something else here</span>
                    </button>
                </mat-menu>
            </div>
        </div>
        <apx-chart [series]="profitExpanceChart.series" [dataLabels]="profitExpanceChart.dataLabels"
            [chart]="profitExpanceChart.chart" [legend]="profitExpanceChart.legend" [xaxis]="profitExpanceChart.xaxis"
            [yaxis]="profitExpanceChart.yaxis" [grid]="profitExpanceChart.grid" [stroke]="profitExpanceChart.stroke"
            [tooltip]="profitExpanceChart.tooltip" [plotOptions]="profitExpanceChart.plotOptions"></apx-chart>
    </mat-card-content>
</mat-card>