@import "tailwindcss";

:root {
    --font-body: Plus Jakarta Sans, sans-serif;

    --info-color: #539bff;
    --warning-color: #f8c076;
    --success-color: #4bd08b;

    --lightsuccess-color: #4bd08b26;
    --lightinfo-color: #8754ec26;
    --lightwarning-color: #f8c07626;
}

@theme {
    /* Color */
    --color-primary: var(--mat-sys-primary);
    --color-secondary: var(--mat-sys-secondary);
    --color-error: var(--mat-sys-error);
    --color-info: var(--info-color);
    --color-warning: var(--warning-color);
    --color-success: var(--success-color);
    --color-dark: var(--mat-sys-on-background);
    --color-light: var(--mat-sys-surface-bright);

    /* Light Color */
    --color-lightprimary: var(--mat-sys-primary-fixed-dim);
    --color-lightsecondary: var(--mat-sys-secondary-fixed-dim);
    --color-lighterror: var(--mat-sys-error-fixed-dim);
    --color-lightsuccess: var(--lightsuccess-color);
    --color-lightinfo: var(--lightinfo-color);
    --color-lightwarning: var(--lightwarning-color);

    /* Border */
    --color-border: var(--mat-sys-outline-variant);

    /* Border Radius */
    --radius-sm: var(--mat-sys-corner-small);
    --radius-md: var(--mat-sys-corner-medium);

    /* Shadow */
    --shadow-sm: var(--mat-sys-level1);
    --shadow-md: var(--mat-sys-level2);
}

@layer base {

    img,
    video {
        max-width: inherit;
        height: revert-layer;
    }

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        margin: revert-layer;

    }

    ol,
    ul,
    menu {
        list-style-type: disc;
        padding-inline-start: 40px;
    }
}